/* START */
/* Fonts */
@font-face {
    font-family: 'raleway-regular';
    src: url('../Fonts/Raleway/Raleway-Regular.eot');
    src: url('../Fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
         url('../Fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
         url('../Fonts/Raleway/Raleway-Regular.woff') format('woff'),
         url('../Fonts/Raleway/Raleway-Regular.ttf') format('truetype'),
         url('../Fonts/Raleway/Raleway-Regular.svg#raleway') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Animations */
/* site loader */
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* show element by scale */
@keyframes show-element {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* show element by rotate */
@keyframes show-element_rotate {
    0% , 100% {
        transform-origin: center bottom;
    }
    0% {
        opacity: 0;
        transform: rotateX(-90deg);
    }
    100% {
        opacity: 1;
        transform: rotateX(0deg);
    }
}

/* show element by translate */
@keyframes show-element-by-translate {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
        opacity: 1;
    }
}

/* scroll down */
@keyframes scroll-down {
    0% {
        bottom: 25px;
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        bottom: -15px;
        opacity: 0;
    }
}

/* loop shadow */
@keyframes loop-shadow {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

/* common */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.5s;
}

:root {
    --primary-color: #2ca8a0;
    --primary-color_dark: #26928b;
    --bg-color: #141414;
    --bg-color-dark: #080808;
}

::selection {
    background-color: var(--primary-color);
    color: #000000;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
    background-color: #2b2b2b;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color_dark);
}

::-webkit-scrollbar-button {
    background-color: var(--bg-color);
}

/* site loader */
.site-loader {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
}

.loader-img {
    width: 250px;
    height: 170px;
}

.loader {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    border-top: 2px solid var(--primary-color);
    animation: spin 1s linear infinite;
}

/* body */
body,
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    cursor: context-menu;
    text-align: center;
    font-family: 'raleway-regular' , sans-serif;
    color: #fff;
    /* for edg */
    background-color: #000000;
}

/* tags */
a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

p {
    line-height: 1.5;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: inherit;
}

/* container */
.container {
    width: min(100%,760px);
    height: 100%;
    margin: 0 auto;
    padding: 130px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

/* title */
.title {
    font-size: 29px;
}

.title-icon {
    font-size: 120%;
    color: var(--primary-color);
}

.line-bottom {
    padding-bottom: 65px;
    position: relative;
}

.line-bottom::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* button */
.btn {
    display: inline-block;
    min-width: 140px;
    padding: 13px;
    border: 2.5px solid;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.btn:hover {
    opacity: 0.7;
}

/* show element */
.show_scale {
    display: none;
    transform: scale(0);
    animation: show-element 1s cubic-bezier(0.175, 0.885, 0.32, 1.25) forwards;
}

.parent-show_rotate {
    perspective: 1000px;
    overflow: visible !important;
}

.show_rotate {
    display: none;
    animation: show-element_rotate 1.2s cubic-bezier(0.3, 0.885, 0.32, 1.35) forwards;
}

/* HEADER */
#header {
    width: 100%;
    height: 50px;
    padding: 0 25px;
    background-color: var(--bg-color-dark);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

#header .container {
    width: min(100%,1440px);
    padding: unset;
    flex-direction: row;
    justify-content: space-between;
}

/* website logo */
.website-logo {
    width: 230px;
}

/* menu */
.menu {
    width: 450px;
    display: flex;
}

.menu-item {
    width: calc(100% / 5);
    border-left: 1px solid #2b2b2b;
}

.menu-item:last-child {
    border-right: 1px solid #2b2b2b;
}

.menu-item-link {
    display: inline-block;
    width: 100%;
    letter-spacing: 1px;
    text-transform: capitalize;
    font: bolder 13px / 50px 'raleway-regular';
    color: #4d4d4d;
}

.menu-item-link:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.light {
    color: #fff;
}

/* menu hamburger */
.menu-hamburger {
    display: none;
}

/* MAIN */
#main {
    background-color: var(--bg-color);
}

/* home */
.home {
    min-height: 100vh;
    background: url(../Images/Background-Home-01.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.home .container {
    display: none;
    min-height: 100vh;
    row-gap: 10px;
    animation: show-element-by-translate 1s linear;
}

.home-title {
    text-transform: uppercase;
    font-size: 60px;
}

.home-content {
    margin-bottom: 25px;
    font: bold 18px / 1.5 'raleway-regular';
    color: #6b6b6b;
}

/* home btn */
.btn-get-about {
    margin-right: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    border-color: #fff;
}

.btn-get-contact {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* scroll down */
.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    animation: scroll-down 2s ease-in-out infinite;
}

/* portfolio */
.portfolio-title {
    display: block;
    padding: 70px 30px 80px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.parent-img {
    width: calc(100% / 3);
    background-color: #000000;
    overflow: hidden;
}

.gallery-img {
    filter: brightness(75%);
}

.gallery-img:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

/* about */
/* about section-01 */
.about-section-01-img {
    width: 180px;
    border-radius: 50%;
}

.about-inform {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.inform-item {
    min-width: 145px;
    display: flex;
    flex-direction: column;
}

.inform-num {
    font: 40px sans-serif;
}

/* about section-02 */
.about-section-02 {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) , url(../Images/Background-About.jpg) no-repeat center top fixed;
    background-size: cover;
}

.about-section-02 .container {
    width: min(100%,1350px);
    row-gap: 40px;
}

/* slider */
.slider {
    width: 80%;
    min-height: 200px;
    position: relative;
}

.slide-item {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font: 20px / 34px sans-serif;
    transition-duration: 0.75s;
}

.show-slide {
    visibility: visible;
    opacity: 1;
}

.profile {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    text-align: left;
}

.profile-img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.profile-name {
    font: bolder 19px sans-serif;
}

.profile-profession {
    font-size: 12px;
    color: #b4b4b4;
}

.profile a:hover {
    text-decoration: underline;
}

/* slider btn */
.btn-prev,
.btn-next {
    background-color: transparent;
    border: unset;
    padding: 10px;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: #888;
}

.btn-next {
    left: 104%;
}

.btn-prev {
    right: 104%;
}

.slider:hover .btn-prev,
.slider:hover .btn-next {
    opacity: 1;
}

.btn-prev:hover,
.btn-next:hover {
    color: #fff;
    transition-duration: 0s;
}

/* about section-02 logos */
.about-logos {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about-logo {
    width: calc(100% / 6);
}

/* services */
.services .container {
    width: min(100%,1350px);
}

.services-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.card {
    width: 30%;
    display: flex;
    column-gap: 20px;
}

.card-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 1px solid #363636;
    font: 30px / 75px 'icomoon';
}

.card-content {
    width: calc(100% - 75px);
    text-align: left;
}

.card-title {
    margin-bottom: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 20px;
}

.card-title span {
    font-family: sans-serif;
}

/* contact */
.contact {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) , url(../Images/Background-Contact.jpg) no-repeat center top fixed;
    background-size: cover;
}

.contact .line-bottom::after {
    background-color: #fff;
}

/* contact form */
.contact-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-item {
    padding: 20px 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    text-align: left;
    font: 16px sans-serif;
    color: inherit;
}

.form-item::placeholder {
    color: #ffffffbf;
}

.input_text ,
.input_email {
    width: 49.5%;
    height: 50px;
    margin-bottom: 15px;
}

textarea {
    width: 100%;
    height: 190px;
}

.input_submit {
    height: 53px;
    margin-top: 25px;
    padding: 0 45px;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15px;
}

.input_submit:hover {
    background-color: hotpink;
}

/* social media */
.social-media-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.social-media-icon {
    width: 105px;
    height: 105px;
    margin: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
    font: 40px / 100px 'icomoon';
    position: relative;
}

.social-media-icon::after {
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 7px solid rgba(255, 255, 255, 0.368);
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.368);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.social-media-icon:hover::after {
    animation: loop-shadow 1s ease-out forwards;
}

.social-media .show-element:nth-child(2) {
    animation-delay: 0.15s;
}

.social-media .show-element:nth-child(3) {
    animation-delay: 0.3s;
}

/* FOOTER */
#footer {
    background-color: #000000;
}

/* footer nav */
.footer-nav {
    width: min(100%,1300px);
    margin: 0 auto;
    padding: 13px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    text-align: left;
    font: 11px sans-serif;
}

.footer-nav > :nth-child(1) {
    flex-grow: 10;
}

.footer-nav a:not(.footer-social-media a):hover {
    text-decoration: underline;
}

.footer-icon {
    display: inline-block;
    padding: 12px;
    border-radius: 50%;
    opacity: 0.5;
    font-size: 10px;
    text-align: center;
}

.footer-icon:hover {
    opacity: 1;
}

.icon-twitter:hover {
    background-color: var(--primary-color);
}

.icon-facebook:hover {
    background-color: royalblue;
}

.icon-dribbble:hover {
    background-color: hotpink;
}

/* scroll up page */
.scroll-up-page {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid transparent;
    border-radius: 5px;
    position: fixed;
    bottom: 8%;
    right: 3%;
    z-index: 98;
    font: 22px / 50px 'icomoon';
}

.scroll-up-page:hover {
    background-color: #000000;
    border: 1px solid var(--primary-color);
}

.scroll-up-hide {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
}

/*  RESPONSIVE */
@media (max-width: 1024px) {
    /* MAIN */
    .about-logo {
        width: calc(100% / 3.5);
    }

    .card {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 90px 50px;
        row-gap: 40px;
    }

    .title {
        font-size: 24px;
    }

    .line-bottom {
        padding-bottom: 40px;
    }

    /* HEADER */
    #header {
        height: 80px;
        padding: 0 8%;
    }

    .website-logo {
        width: 300px;
    }

    .menu {
        width: min(70%,350px);
        height: 100vh;
        padding: 80px 0;
        background-color: var(--bg-color-dark);
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 100%;
        z-index: 99;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        transition-timing-function: cubic-bezier(0.75, 0, 0.25, 1.35);
    }

    .menu::after {
        content: '';
        width: 100vw;
        height: 100%;
        background-color: #00000066;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 100%;
    }

    .show-menu {
        transform: translateX(-100%);
        opacity: 1;
        visibility: visible;
    }

    .menu-item {
        width: 100%;
        border-left: none;
        border-bottom: 1px solid #2b2b2b;
    }

    .menu-item-link {
        padding: 0 50px;
        letter-spacing: normal;
        font: normal 16px / 50px 'raleway-regular';
        color: #fff;
    }
    
    .menu-item-link:hover {
        background-color: #171717;
    }

    .menu-hamburger {
        display: flex;
        cursor: pointer;
        z-index: 99;
        font-size: 24px;
        color: #4d4d4d;
    }

    .icon-close {
        color: #fff;
        transform: rotate(-180deg);
    }

    /* MAIN */
    /* home */
    .home .container {
        transform: translateY(40px);
    }

    .home-title {
        font-size: 52px;
    }

    /* portfolio */
    .portfolio-title {
        padding: 55px 50px 65px 50px;
    }

    .parent-img {
        width: calc(100% / 2);
    }

    /* about */
    .about-inform {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .inform-item {
        width: 100%;
    }

    .slider {
        min-height: 230px;
    }

    .about-logo {
        width: calc(100% / 3);
    }

    /* services */
    .services-menu {
        row-gap: 40px;
    }

    .card {
        width: 100%;
    }

    /* FOOTER */
    .footer-nav > :nth-child(2) {
        width: 100%;
        order: 1;
    }
}

@media (max-width: 600px) {
    /* MAIN */
    .home-title {
        font-size: 48px;
    }

    .about-comments {
        width: 100%;
    }

    .slider {
        min-height: 290px;
    }

    .btn-prev,
    .btn-next {
        display: none;
    }

    .about-logos {
        margin-top: 0;
    }

    .about-logo {
        width: calc(100% / 2);
    }

    .input_text ,
    .input_email {
        width: 100%;
    }

    .social-media-icons {
        flex-direction: column;
        align-items: center;
    }

    /* FOOTER */
    .footer-nav {
        padding: 25px 15px;
        flex-direction: column;
        row-gap: 10px;
        text-align: center;
    }

    .footer-nav > :nth-child(2) {
        order: 0;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 70px 30px;
    }

    /* HEADER */
    #header {
        padding: 0 6%;
    }

    .website-logo {
        width: 250px;
    }

    /* MAIN */
    .home-title {
        font-size: 38px;
    }

    .parent-img {
        width: 100%;
    }

    .slider {
        min-height: 370px;
    }

    .profile {
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
    }
}

@media (max-width: 426px) {
    .slider {
        min-height: 400px;
    }

    .scroll-up-page {
        width: 40px;
        height: 40px;
        bottom: 6%;
        right: 3%;
        font: 22px / 40px 'icomoon';
    }
}

@media (max-width: 376px) {
    .home-content {
        margin-bottom: 15px;
    }

    .home .container {
        transform: translateY(50px);
    }

    .home .btn {
        min-width: 120px;
        margin: unset;
        padding: 11px 13px;
        transform: scale(0.9);
    }

    .card-icon {
        width: 65px;
        height: 65px;
        font: 25px / 65px 'icomoon';
    }
}
/* THE END */